$side-nav-item-interaction-base: blue !default;

/** 
* Interaction states
*/
$side-nav-item-interaction-hover: 0.4;
$side-nav-item-interaction-focus: 0.16;
$side-nav-item-interaction-active: 0.8;



$side-nav-link-text-font-size: 1.25rem !default;
$side-nav-item-active-bg: rgb(15, 15, 231)

