
$sk-primary: rgb(7, 87, 153);

$sk-side-nav-item-interaction-base: $sk-primary !default;

//$sk-side-nav-item-interaction-hover: 0.4;
//$sk-side-nav-item-interaction-focus: 0.16;
//$sk-side-nav-item-interaction-active: 0.8;

//$sk-side-nav-link-text-font-size: map-get($sk-font-sizes, 3) !default;
$sk-side-nav-item-active: rgb(15, 15, 231)

