:root {

    --wash-rgb: #f0f0f0;
    --on-wash-rgb: black;
    --on-wash-meduim-emphasis: rgba(var(--wash-rgb), 0.65)

    --surface: white;
    --on-surface: black;

    --primary-rgb: blue;
    --on-primary-rgb: black;

    --secondary-rgb: white;

}